/** Address of this stylesheet: https://api.github.com/repos/sbrinley/wcjax18/contents/style.css **/

/* Custom CSS from 2017.bhopal.wordcamp.org */
/*Common */
body,span {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a, a:hover, a:active, a:focus {
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}

h2.widget-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1px;
}

a.more-link {
	background: #333;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background .2s;
	transition: background .2s;
}

a.more-link:hover {
	animation: example .3s linear;
	background: #333;
	color: #fff;
}

.entry-content .more-link:before {
	content: "";
	display: inline-block;
	margin-top: 0;
}

.entry-content a, .entry-summary a, .widget a, .site-footer .widget-area a, .posts-navigation a, .widget_authors a strong {
	box-shadow: none !important;
}

@media screen and (min-width: 48em) {
	.navigation-top .wrap, .page-one-column .panel-content .wrap {
		max-width: 1300px;
	}

	h2.widget-title {
		margin-bottom: 10px;
	}
}

/* -----------------------------------*/
/* Menu CSS */
.site-header {
	background-color: #403e3e;
}

@media screen and (min-width: 48em) {
	.home	.navigation-top {
		bottom: auto;
		top: 0;
	}

	.main-navigation ul ul {
		background: #403e3e;
	}

	.single .site-navigation-fixed.navigation-top {
		position: relative;
		top: 0;
	}/*.main-navigation a:after {
																																																																													content: "/";
																																																																													position: absolute;
																																																																													right: -5px;
																																																																												}*/

}

.main-navigation ul {
	text-align: center;
}

.navigation-top a {
	color: #eaeaea;
	font-weight: 100;
	font-size: 15px;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.navigation-top li:last-child a:after {
	content: "";
}

.navigation-top {
	background: #403e3e;
	border-bottom: 0;
	border-top: 0;
}

.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
	color: #62a9ff;
}

@media screen and (min-width: 67em) {
	.navigation-top .wrap {
		padding: 0 2em;
	}
}

@media screen and (min-width: 48em) {
	.main-navigation a {
		padding: 1.5em 2em;
	}
}

/*----------------------------------*/
/* Header */
.custom-header {
	display: block!important;
}

#post-88 header.entry-header {
	display: block!important;
}

.entry-header {
	margin-bottom: 0 !important;
}

/*----------------------------------*/
/*Top section*/
#post-88 h2.entry-title {
	font-size: 0;
}

#post-88 .panel-content {
	background-color: rgba(0,0,0,0.25);
}

#post-88 {
	background-image: url('https://2017.bhopal.wordcamp.org/files/2017/10/bhopal_image.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#post-88 .entry-content a img, .widget a img {
	-webkit-box-shadow: 0 0 0 0 #fff;
	box-shadow: 0 0 0 0 #fff;
}

#post-88 .entry-content .main-top-wrap a img {
	max-width: 267px;
	margin-bottom: 15px;
}

#post-88 .entry-content {
	text-align: center;
}

.entry-content a, .entry-content a:hover {
	box-shadow: none;
}

.main-top-wrap {
	margin-bottom: 3em;
	padding: 0 20px;
}

.main-top-wrap span {
	color: #fff;
	font-size: 20px;
}

.main-top-wrap span.top-text {
	border-top: 1px solid #fff;
	padding-top: 15px;
	display: inline-block;
	text-shadow: 2px 2px 2px #000;
}

.main-top-wrap span.second-text {
	background: #fff;
	color: #2c587f;
	padding: 10px 15px;
	cursor: pointer;
	display: inline-block;
	margin-top: 20px;
	font-weight: bold;
	font-size: 15px;
	border: 4px solid #2c587f;
}

/*----------------------*/
.icon-box-wrap {
	background: rgba(4,4,4,0.86);
	width: 100%;
	display: inline-block;
}

.page-one-column #post-88 .panel-content .wrap {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.icon-box-inner .colm {
	display: inline-block;
	width: 24%;
	margin-bottom: 2.5em;
	margin-top: .5em;
}

.icon-box-inner .colm span.box-img {
	border: 2px solid #fff;
	width: auto;
	display: inline-block;
	border-radius: 50%;
	padding: 19px 16px;
}

.icon-box-inner {
	max-width: 1170px;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}

span.ib-text {
	color: #fff;
	font-weight: bold;
	padding-top: 14px;
	display: inline-block;
}

span.box-img {
	max-width: 130px;
}

span.box-img:hover {
	animation: spin 300ms;
}

@media screen and (max-width: 40em) {
	.icon-box-inner .colm {
		width: 100%;
	}
}

/*--------------------*/
/* Blog content */
h1.entry-title, h1.page-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px !important;
	font-weight: 900;
	letter-spacing: 1px;
	text-align: center;
	border-bottom: 4px double black;
	display: inline-block;
	padding: 5px 20px;
}

header.entry-header, header.page-header {
	width: 100%;
	text-align: center;
}

.home header.entry-header {
	margin-bottom: 0 !important;
}

#panel1 .panel-content .wrap {
	padding-bottom: 60px;
	padding-top: 60px;
}

.entry-meta span a, span span, .entry-meta .byline {
	font-size: 14px;
	font-weight: 100;
}

.page .panel-content .entry-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px !important;
	font-weight: 900;
	letter-spacing: 1px;
}

.menu-toggle {
	color: #fff;
}

/*****************/
/* Footer CSS */
.site-info {
	float: none;
	width: 100%;
	text-align: center;
	background: #413f3f;
	padding: 10px;
	margin-bottom: 0;
}

.site-footer {
	margin-top: 0;
}

.site-info a {
	color: #fff;
}

.site-footer .widget-column.footer-widget-1 {
	width: 100%;
	padding: 60px 20px;
}

.site-info a {
	text-decoration: none !important;
	color: #b7b7b7;
	-webkit-box-shadow: unset;
}

.site-info a:focus, .site-info a:hover {
	color: #fff;
	box-shadow: unset;
}

.site-footer .widget-column.footer-widget-2 {
	width: 100%;
	padding: 60px 0;
}

footer#colophon .wrap {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

h2.widget-title {
	font-size: 20px;
}

.footer-widget-1 {
	text-align: center;
}

.footer-widget-2 h2.widget-title {
	text-align: center;
}

.list-social {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.list-social li {
	display: inline-block;
	font-size: 1em;
	line-height: 1.25em;
	margin-top: 1rem;
	text-align: center;
}

input + button, input + input[type="button"], input + input[type="submit"] {
	padding: .7rem 4rem;
	border-radius: 3px;
	font-size: 1rem;
	line-height: 1.5rem;
}

section#blog_subscription-3, section#custom_html-4 {
	max-width: 50rem;
	margin: 0 auto;
}

section#blog_subscription-3 p {
	display: inline-block;
	margin: 15px 0;
	font-size: 18px;
}

#blog_subscription-3 p#subscribe-email {
	width: 25rem;
}

#custom_html-4 .fa {
	font-size: 25px;
	width: 53px;
	height: 51px;
	padding: 7px 4px 0 5px;
	display: inline-block;
	margin: 20px;
	border: 6px double #413f3f;
}

.footer-widget-1 {
	background-image: url('https://uaf.edu/files/universityrelations/centennial/UAF_100_pattern.png');
	background-color: #2d282d !important;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 0;
}

#blog_subscription-4 input {
	width: 100%;
}

li#twitter .fa {
	border: 6px double #0084b4;
	color: #0084b4;
}

li#facebook .fa {
	border: 6px double #3b5998;
	color: #3b5998;
}

li#instagram .fa {
	border: 6px double #cd486b;
	color: #cd486b;
}

ul.list-social li a strong {
	font-weight: 700;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.site-footer .widget-area {
	padding-top: 0;
	padding-bottom: 0;
}

#custom_html-4, #blog_subscription-3 {
	padding-bottom: 0 !important;
}

@media (min-width: 37.5em) {
	.list-social li {
		width: 30%;
		min-width: 12.5rem;
	}
}

@media screen and (max-width: 480px) {
	#blog_subscription-3 p#subscribe-email {
		width: 100%;
	}

	.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
		color: #62a9ff;
	}

	p#subscribe-email {
		width: 100%;
	}

	p#subscribe-submit {
		width: 100%;
	}

	input[type="submit"] {
		width: 100%;
	}

	#subscribe-email input {
		width: 100%;
	}

	section#blog_subscription-3 p {
		margin: 10px 0;
	}

	.navigation-top a {
		color: #333;
	}
}

/*--- Sachin's CSS from here ---*/
/* Nav menu for tablet users */
@media screen and (max-width:770px) {
	.navigation-top a {
		color: #333;
	}
}

/* Social sharing links size for each post/page */
.sd-content ul li a span {
	font-size: 1em;
}

/* All Button CSS */
.more-link {
	text-decoration: none !important;
}

input[type="submit"]:hover {
	background: #333;
}

/* Button CSS used in Grab your tickets post */
.linktobtn {
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background .2s;
	transition: background .2s;
}

.linktobtn:hover {
	background: #333;
	color: #fff !important;
}

.entry-content a {
	text-decoration: underline;
}

/* Remove unnecessary space beneath the title of tickets page */
@media screen and (min-width: 48em) {
	.page-id-123 .entry-header {
		margin-bottom: 0 !important;
	}
}

.page-id-123 .wrap {
	padding: 0 .5em;
}

/* Organizers page */
.page-id-1390 .content-area {
	max-width: 1400px !important;
}

.wc-organizer {
	height: 325px;
}

.wc-organizer-image {
	width: 300px;
	height: 300px;
	float: left;
	border-radius: 6px;
}

.wc-organizer-description {
	float: right;
	width: 65%;
}

.wc-organizer-description h2 {
	transform: scaleY(1.25);
	padding-top: 2px;
	display: inline-block;
}

.wc-title {
	text-align: center;
}

.wc-organizer-description p {
	margin: 0 !important;
}

.wc-organizer-description ul {
	list-style-type: none;
}

.wc-organizer-description ul li {
	display: inline;
	font-size: 2em;
	padding-right: 10px;
}

.line-left, .line-right {
	display: inline-block;
	width: 50px;
	height: 1px;
	background: #333;
	margin: 6px 0;
}

@media screen and (max-width:500px) {
	.wc-organizer-image {
		width: 100%;
		height: 300px;
	}

	.wc-organizer-description {
		float: right;
		width: 100%;
	}

	.wc-title {
		margin-top: 5px;
	}
}

@media screen and (min-width:500px) and (max-width:800px) {
	.wc-organizer-image {
		width: 100%;
		height: 450px;
	}

	.wc-organizer-description {
		float: right;
		width: 100%;
	}

	.wc-title {
		margin-top: 5px;
	}
}

@media screen and (min-width:800px) and (max-width:900px) {
	.wc-organizer-image {
		width: 300px;
		height: 300px;
		float: left;
	}

	.wc-organizer-description {
		float: right;
		width: 56%;
	}

	.page-id-1390 .entry-header {
		margin-top: 6em;
		margin-bottom: 0;
	}

	.wc-title {
		margin-top: 5px;
	}
}

@media screen and (min-width:900px) and (max-width:1000px) {
	.wc-organizer-image {
		width: 300px;
		height: 300px;
		float: left;
	}

	.wc-organizer-description {
		float: right;
		width: 60%;
	}
}

@media screen and (min-width: 900px) {
	.line-left, .line-right {
		display: none;
	}

	.wc-title {
		text-align: left;
	}

	.wc-organizer {
		border-bottom: 1px solid #888;
	}
}

/*
.menu-toggle {
	float: right;
}

.toggled-on .menu-toggle {
	margin-top: -50px;
}

.toggled-on .menu-temporary-menu-container,.toggled-on .menu-temporary-menu-container {
	margin-top: 50px !important;
}*/
/* Header -> Nav menu */
.page-id-88 .navigation-top {
	background: rgba(64,62,62,0.75) !important;
}

@media screen and (min-width: 48em) {
	.main-navigation ul li.menu-item-has-children:before, .main-navigation ul li.menu-item-has-children:after, .main-navigation ul li.page_item_has_children:before, .main-navigation ul li.page_item_has_children:after {
		border-style: solid;
		border-width: 0 6px 6px;
		content: "";
		display: none;
		height: 0;
		position: absolute;
		left: 2em;
		bottom: -1px;
		width: 0;
		z-index: 100000;
	}

	.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
		left: 0;
		right: auto;
	}

	.main-navigation ul ul {
		padding: 0;
		text-align: left;
	}
}

@media screen and (max-width: 48em) {
	.main-navigation ul ul {
		padding: 0;
	}
}

.main-navigation a {
	padding: 1em 1.25em;
	text-transform: uppercase;
}

.main-navigation a:hover {
	color: #62a9ff;
}

/* Remove social share icons from posts for PC and show only Icons for mobile */
@media screen and (min-width:48em) {
	.sharedaddy {
		display: none;
	}
}

/* Content width for all pages */
.wrap {
	max-width: 1200px;
}

/* About WCBhopal section on homepage */
.wc-about {
	width: 100%;
}

.wc-about-desc {
	width: 52%;
	background: rgba(236,236,236,0.78);
	padding: 40px;
	float: left;
	text-align: justify;
}

.wc-about-img {
	width: 48%;
	margin: 0;
	padding: 35px 0;
	float: right;
}

.wc-about-img img {
	padding-top: 15px;
}

@media screen and (min-width:900px) and (max-width:1200px) {
	.wc-about-img img {
		padding-top: 35px;
	}
}

@media screen and (max-width:60em) {
	.wc-about-desc {
		width: 100%;
		padding: 10px;
		float: none;
	}

	.wc-about-img {
		width: 100%;
		float: none;
	}

	.wc-about-img img {
		padding: 0;
		height: auto;
	}
}

/* Volunteer page */
.page-id-1298 .content-area {
	max-width: 1200px !important;
}

.wc-volunteer {
	float: left;
	width: 30%;
	padding: 10px;
	margin: 10px;
	height: 580px;
	border: 4px double #ccc;
}

.wc-volunteer img {
	width: 100%;
}

.wc-volunteer-name {
	text-align: center;
	padding: 0;
}

.wc-volunteer ul {
	list-style-type: none;
}

.wc-volunteer ul li {
	display: inline;
	font-size: 2em;
	padding-right: 10px;
}

@media (min-width: 420px) and (max-width:550px) {
	.wc-volunteer {
		height: 680px;
	}
}

@media (min-width: 550px) and (max-width:680px) {
	.wc-volunteer {
		width: 45%;
	}
}

@media (min-width: 680px) and (max-width:850px) {
	.wc-volunteer {
		width: 46.6%;
	}
}

@media (max-width: 550px) {
	.wc-volunteer {
		width: 100%;
	}

	.wc-volunteer-desc {
		margin: 0;
	}
}

@media (min-width: 1200px) {
	.wc-volunteer img {
		height: 300px;
	}
}

/* Wrap content for all pages for mobile users */
@media screen and (max-width: 60em) {
	.wrap {
		padding: 0 10px;
	}
}

/* Terms and conditions in ticket*/
.tnc li {
	margin-bottom: 5px;
}

@media screen and (max-width:770px) {
	.tnc {
		padding: 18px;
	}
}

/* Ticket's form for mobile */
@media screen and (max-width: 48em) {
	.tix_tickets_table tr td {
		padding: .2em;
	}

	.tix_tickets_table td:nth-of-type(3) {
		text-align: center;
	}
}

/* Set featured image size */
.single-featured-image-header img {
}

/* Speaker page */
.wcorg-speaker-description > img {
	display: none;
}

.wcorg-speaker {
	margin-top: 30px !important;
	border-bottom: 3px double #999;
}

.wcorg-speaker:nth-last-of-type(1) {
	border: 0;
}

/* Decorate the links */
.link {
	text-decoration: underline;
}

/* Background image on homepage about wcbhopal
#panel1 {
	background: url('https://2017.bhopal.wordcamp.org/files/2017/10/LRM_EXPORT_20170221_194120-e1508524165187.jpg');
}
*/
/* Sponsor page */
.page-id-10 .content-area {
	max-width: 850px !important;
}

.woocommerce-list {
	margin-left: 20px;
}

.wcorg-sponsor {
	padding: 20px;
	background: rgba(0,0,0,0.01);
	margin-bottom: 10px;
	border-radius: 3px;
}

.wcorg-sponsor-level-gold h2:before {
	width: 850px;
	height: 300px;
	background: url('https://2017.bhopal.wordcamp.org/files/2017/10/shahenshah-layout-1.jpg') no-repeat;
	background-size: 100% 100%;
	display: block;
	content: "";
}

.wcorg-sponsor-level-silver:before, .wcorg-sponsor-level-bronze:before, .wcorg-sponsor-level-bhaijaan-friend:before {
	content: " ";
	display: block;
	width: 850px;
	position: relative;
	border-bottom: 4px double #aaa;
	margin-bottom: 30px;
}

.wcorg-sponsor-level-gold h2 {
	color: white;
}

.wcorg-sponsor-level-silver h2:before {
	width: 850px;
	height: 300px;
	background: url('https://2017.bhopal.wordcamp.org/files/2017/10/nawab-layout-1.jpg') no-repeat;
	background-size: 100% 100%;
	display: block;
	content: "";
}

.wcorg-sponsor-level-silver h2 {
	color: white;
}

.wcorg-sponsor-level-bronze h2:before {
	width: 850px;
	height: 300px;
	background: url('https://2017.bhopal.wordcamp.org/files/2017/10/soorma-layout-1.jpg') no-repeat;
	background-size: contain;
	display: block;
	content: "";
}

.wcorg-sponsor-level-bronze h2 {
	color: white;
}

.wcorg-sponsor-level-bhaijaan-friend h2:before {
	width: 850px;
	height: 300px;
	background: url('https://2017.bhopal.wordcamp.org/files/2017/10/bhaijaan-layout-1.jpg') no-repeat;
	background-size: contain;
	display: block;
	content: "";
}

.wcorg-sponsor-level-bhaijaan-friend h2 {
	color: white;
}

@media screen and (max-width: 30em) {
	.wcorg-sponsor-level-gold h2:before,
	.wcorg-sponsor-level-silver h2:before,
	.wcorg-sponsor-level-bronze h2:before,
	.wcorg-sponsor-level-bhaijaan-friend h2:before {
		width: 335px;
		height: 125px;
	}

	.wcorg-sponsor-level-silver:before, .wcorg-sponsor-level-bronze:before, .wcorg-sponsor-level-bhaijaan-friend:before {
		content: " ";
		display: block;
		width: 335px;
		position: relative;
		border-bottom: 4px double black;
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 25em) and (max-width: 30em) {
	.wcorg-sponsor-level-gold h2:before,
	.wcorg-sponsor-level-silver h2:before,
	.wcorg-sponsor-level-bronze h2:before,
	.wcorg-sponsor-level-bhaijaan-friend h2:before {
		width: 370px;
		height: 150px;
	}

	.wcorg-sponsor-level-silver:before, .wcorg-sponsor-level-bronze:before, .wcorg-sponsor-level-bhaijaan-friend:before {
		content: " ";
		display: block;
		width: 370px;
		position: relative;
		border-bottom: 4px double black;
		margin-bottom: 30px;
	}
}

@media screen and (min-width:30em) and (max-width: 38em) {
	.wcorg-sponsor-level-gold h2:before,
	.wcorg-sponsor-level-silver h2:before,
	.wcorg-sponsor-level-bronze h2:before,
	.wcorg-sponsor-level-bhaijaan-friend h2:before {
		width: 450px;
		height: 180px;
	}

	.wcorg-sponsor-level-silver:before, .wcorg-sponsor-level-bronze:before, .wcorg-sponsor-level-bhaijaan-friend:before {
		content: " ";
		display: block;
		width: 450px;
		position: relative;
		border-bottom: 4px double black;
		margin-bottom: 30px;
	}
}

@media screen and (min-width:38em) and (max-width: 45em) {
	.wcorg-sponsor-level-gold h2:before,
	.wcorg-sponsor-level-silver h2:before,
	.wcorg-sponsor-level-bronze h2:before,
	.wcorg-sponsor-level-bhaijaan-friend h2:before {
		width: 550px;
		height: 200px;
	}

	.wcorg-sponsor-level-silver:before, .wcorg-sponsor-level-bronze:before, .wcorg-sponsor-level-bhaijaan-friend:before {
		content: " ";
		display: block;
		width: 550px;
		position: relative;
		border-bottom: 4px double black;
		margin-bottom: 30px;
	}
}

@media screen and (min-width:45em) and (max-width: 55em) {
	.wcorg-sponsor-level-gold h2:before,
	.wcorg-sponsor-level-silver h2:before,
	.wcorg-sponsor-level-bronze h2:before,
	.wcorg-sponsor-level-bhaijaan-friend h2:before {
		width: 650px;
		height: 240px;
	}

	.wcorg-sponsor-level-silver:before, .wcorg-sponsor-level-bronze:before, .wcorg-sponsor-level-bhaijaan-friend:before {
		content: " ";
		display: block;
		width: 650px;
		position: relative;
		border-bottom: 4px double black;
		margin-bottom: 30px;
	}
}

.wcorg-sponsor h3 {
	display: none;
}

.bhojapu tr td {
	width: 50%;
}

/* Attendee page */
@media screen and (min-width:380px) and (max-width:650px) {
	#tix-attendees .tix-columns-3 li {
		width: 50% !important;
	}
}

@media screen and (max-width:380px) {
	#tix-attendees .tix-columns-3 li {
		width: 70% !important;
		float: none;
		margin: auto;
	}
}

/* Widget for sponsor */
.sp {
	padding-bottom: 20px;
}

.sponsor-logo img {
	max-width: 100%;
	height: auto;
	max-height: 150px;
	width: auto;
}

.sponsor-logo {
	padding: 10px 15px;
	display: inline-block;
	width: 50%;
	margin-right: -4px;
	pointer-events: none !important;
	cursor: default;
}

@media screen and (max-width:25em) {
	.sponsorl, .sponsorr {
		float: none;
	}
}

/* Sachin's About WCBhopal section */
.home .post-1568 {
	background: url('https://2017.bhopal.wordcamp.org/files/2017/12/vector_new-1.jpg') no-repeat;
	background-size: contain;
	background-position: bottom;
}

.video iframe {
	height: 330px !important;
}

/* poonam's sponsored widget CSS */
.spcontainer {
	margin-top: 40px;
	padding: 20px;
	background: #99999917;
}

h3.sponsorname {
	border: 3px double #62a9ff;
	color: #333333c4;
	padding: 8px;
	border-radius: 3px;
}

section#media_image-2 {
	text-align: center;
	margin-left: 60px;
	margin-top: 15px;
}

.site-footer .widget-column.footer-widget-2 {
	padding-bottom: 0;
}

article#panel2 {
	background: url('http://www.trendyfest.com/wp-content/uploads/2016/04/noor-us-sabha.jpg');
	background-position: 50% 50%;
	background-size: cover;
}

.ab-bpl {
	width: 50%;
	float: right;
	background: white;
	padding: 40px;
	text-align: justify;
}

article#panel2 h2.entry-title {
	display: none;
}

.wc-sponsors ul li {
	list-style: none;
	display: inline-block;
	width: 33%;
	padding: 30px;
	height: 110px;
	text-align: center;
}

.wc-sponsors ul li img {
	width: 300px;
}

@media screen and (max-width:767px) {
	.ab-bpl {
		width: 100%;
		float: none;
	}

	section#media_image-2 {
		margin-left: 0;
	}
}

@media screen and (max-width:992px) {
	.wc-sponsors ul li {
		width: 48%;
		padding: 15px;
		height: 60px !important;
	}
}